@model IEnumerable<StudentLabManager.Models.TestSchedule>
@using System.Linq

@{
    ViewData["Title"] = "Index";
}

<h1>Index</h1>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                Exam
            </th>
            <th>
                Course
            </th>
            <th>
                Exam Duration
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model)
{
    Predicate<string> test = (string group) => { return item.group == group; };
    @if (Array.Exists<string>(ViewBag.ClassList, test))
    {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.exam)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.group)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.duration)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.ID">Edit</a> |
                <a asp-action="Details" asp-route-id="@item.ID">Details</a> |
                <a asp-action="Delete" asp-route-id="@item.ID">Delete</a>
            </td>
        </tr>
    }
}
    </tbody>
</table>
